<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>DA Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('da_page') }}">HOME</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="#about">ABOUT ME</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="content">
            <div class='vh-5',id='headPanel'>
                <p class="custom-head uppercase-text"><span class="underline">DASHBOARD</span></p>
            </div>
            <section_small id="skills">
                <div class='vh-25 bg-lightblue1',id='processPanel'>
                    <div class="process-section">
                        <div class="process-item">
                            <div class="process-item-content">
                                <p class="process-item-head uppercase-text">Proposal</p>
                                <p class="process-item-describe">Define objectives of the dashboard, know insights or information do stakeholders need, identify key performance indicators (KPIs) and metrics.</p> 
                            </div>   
                        </div>
    
                        <div class="process-item">
                            <div class="process-item-content">
                                <p class="process-item-head uppercase-text">Develope</p>
                                <p class="process-item-describe">Choose visualization tools, integrate data source, plan the layout of the dashboard, ensure interactivity, consistency, accessibility, testing, feedback and Iteration, documentation, deployment.</p> 
                            </div>   
                        </div>
    
                        <div class="process-item">
                            <div class="process-item-content">
                                <p class="process-item-head uppercase-text">Turnaround Time</p>
                                <p class="process-item-describe">The timeframe ranges from two weeks to three months, during which distinct phases and milestones are collaboratively defined with clients.</p> 
                            </div>   
                        </div>
                        
                    </div>   
                </div>
            </section_small>

            <section id="case">
                <div class='vh-100'> 
                    <div class="section-text-container-white vh-5">
                        <p class="custom-head_3 uppercase-text"><span class="underline-lightblue2">Customer Churn Rate of Telco</span></p>
                        <p class="custom-head_4 uppercase-text"><span class="underline-lightblue2">customer base</span></p>
                         <div class="image-container">
                            <img src="{{ url_for('static', filename='db_fig1.png') }}" alt="figure 1"> 
                        </div>
                        <p class="custom-head_4 uppercase-text"><span class="underline-lightblue2">customer churn prediction</span></p>
                        <div class="image-container">
                            <img src="{{ url_for('static', filename='db_fig2.png') }}" alt="figure 2"> 

                        </div>
                        <p class="custom-head_4 uppercase-text"><span class="underline-lightblue2">supplementary: model selection</span></p>                        
                        <div class="image-container">
                            <img src="{{ url_for('static', filename='db_fig3.png') }}" alt="figure 3"> 
                            <img src="{{ url_for('static', filename='db_fig4.png') }}" alt="figure 4"> 
                        </div>

                    </div>
                </div>
            </section>



        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
     
</body>
</html>
