<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>NLP Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class='vh-5',id='headPanel'>
                <p class="custom-head"><span class="underline">DATA ANALYTICS</span></p>
            </div>
            <section_small id="skills">
                <div class='vh-25 bg-lightblue1',id='processPanel'>
                    <div class="process-section">
                        <div class="process-item">
                            <div class="item-content">
                                <p class="process-item-head">Proposal</p>
                                <p class="process-item-describe">Read related literature and collect background knowledge, crafted definition files for Named Entity Recognition (NER) and Relation Extraction (RE). Define Entity Types in NER definition file and Relation Types in RE definition file.</p> 
                            </div>   
                        </div>
    
                        <div class="process-item">
                            <div class="item-content">
                                <p class="process-item-head">Report</p>
                                <p class="process-item-describe">Conduct corpus generation, formulate and implement the NLP pipeline, undertake model training and evaluation, identify post-processing strategies, and enhance information extraction quality through NLP.</p> 
                            </div>   
                        </div>
    
                        <div class="process-item">
                            <div class="item-content">
                                <p class="process-item-head">Turnaround Time</p>
                                <p class="process-item-describe">The timeframe ranges from two months to six months, during which distinct phases and milestones are collaboratively defined with clients.</p> 
                            </div>   
                        </div>
                        
                    </div>   
                </div>
            </section_small>

            <section id="case">
                <div class='vh-100'> 
                    <div class="indent-section">
                        <div class="section-text-container-white">
                            <p class="custom-head_3"><span class="underline-lightblue2">SENTIMENT ANALYSIS: STOCK TREND PREDICTION USING NEWS</span></p>
                            <p class="custom-head_4">Coming soon.</p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
     
</body>
</html>
